body{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:1rem;
    background: lightpink
}

.container
{
    width:250px;
    height:350px;
    border:1px solid black;
    box-shadow: inset lightblue;
    /* display:flex-inline; */
    gap:10px;
    justify-content: space-evenly;
    align-items: center;
    padding:10px;
    border-radius: 0.5rem;
    background:lightgoldenrodyellow

}

img{
    width:100%;
    height:auto;
}